.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #f0f0f0;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.logo-img {
    margin: 1rem;
}

.title {
    margin: 0 1rem;
}