.SidebarContainer {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 200px;
    background-color: #f0f0f0
}

.list {
    list-style: none;
    padding: 0;
    margin-top: 1rem
}

.option {
    padding: 8px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}