.signout-button {
    padding: 12px 24px; /* Add padding to button */
    background-color: #007bff; /* Example background color */
    color: #fff; /* Example text color */
    font-size: 18px; /* Example font size */
    border: none; /* Remove button border */
    cursor: pointer;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    right: 0;
    position: absolute;
}

.auth-button:hover {
    background-color: #0056b3; /* Example hover background color */
}

.login-button {
    padding: 12px 24px; /* Add padding to button */
    background-color: #007bff; /* Example background color */
    color: #fff; /* Example text color */
    font-size: 18px; /* Example font size */
    border: none; /* Remove button border */
    cursor: pointer;
    align-items: center;
}